<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <! We know that the code for a single list item is shown below (within the Anchor Tag). We do have a separate recipe item
           component but, right now, it does not hold any template because we had to outsource it and put it in recipe-list.component
           temporarily because otherwise we wouldn't have been able to display the data. Now, that we know of the way to pass the data
           to the component, so we can take all the code and place it into the recipe-item.component.html file. >
        <!-- <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
                <p class="list-group-item-text">{{ recipe.description }}</p>
            </div>
            <span class="pull-right">
                <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
            </span>
        </a> -->
        <app-recipe-item *ngFor="let recipeElement of recipes" [recipe]="recipeElement" (recipeSelected)="onRecipeSelected(recipeElement)"></app-recipe-item>
        <! By placing the ngFor here, the whole component is replicated for each recipe. Now, we do have the "recipe" which we access
           inside the recipe item component anymore, so we can add the recipe to the recipe-item.component.ts file. >
        <! Now, if we were to implement our event and listen to recipeSelected from the event from the onSelected() method implemented 
           in the recipe-item.component.html file, then we can see that we will already have that information in the *ngFor() loop which 
           will replicate elements. In recipeSelected, we will again need to emit an event because we are not there where we want to be 
           as we have to go one level up because we need to reach the recipes component which is the one implementing the recipe-list.>
    </div>
</div>
