<hr>
<hr>
<hr>
<p>understanding-directives works!</p>
<h3>understanding Directives</h3>
<div class="container">
    <p>Directives are Instructions in the DOM. Components are, in a way, such kind of instructions in the DOM. Once we place the selector of our component somewhere in the templates, then at this point we are instructing Angular to add that component template and out Business Logic in the TypeScript code in the place where we use the selector.</p>
    <p>Also, there are directives without a template, for example, the appTurnGreen Directive, which would be a custom Directive which we could build.</p>
    <p>We typically add directives with our Attribute Selector but technically the selector for Directive can be configured just like the selector for the component, so we could use the CSS classes or the ELement Styling or the Attribute Styling. So, the Angular would basically find the instructions in the <code>selector</code> present within the <code>@Directive</code> Decorator to inform Angular that this class holds a Directive where we might hold the Logic for the processing we need to perform.</p>
</div>