<a href="#" class="list-group-item clearfix" (click)="onSelected()"> <!*ngFor="let recipe of recipes">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <span class="pull-right">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
    </span>
</a>
<! Now, the goal is to take the *ngFor loop and remove it from inside the item and move it back on the item in the recipe-list.component
   and then pass down the individual item. the individual recipe, of each iteration to that component, so that we can still output recipe
   name and so on.>