<! Suppose we want to display the content from this file on to the Parent/Root Application, then we can see that we already have the Decorator present in the files.>
<! So, in the template of the "server" that we created earlier, we will create the component for the "servers" Component and after that we will need to update the AppModule as well.>
<h4>Within Angular CLI's "servers" Component</h4>
<p>servers works!</p>
<app-server></app-server>
<b>Replicating the Component.</b>
<app-server></app-server>
<p>End of the Angular CLI's "servers" Component</p>