<! ADDING THE RECIPE IMAGE>
<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 300px"/>
    </div>
</div>

<! ADDING THE RECIPE NAME>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>

<! ADDING THE BUTTONS>
<div class="row">
    <div class="col-xs-12">
        <! CREATING BUTTON TO ADD/REMOVE FROM SHOPPING LIST>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Ingredients to Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<! DESCRIPTION OF THE RECIPE>
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>

<! INGREDIENTS OF THE RECIPE>
<div class="row">
    <div class="col-xs-12">
        Ingredients of the Recipe
    </div>
</div>