<h1>Components</h1>
<p>Components are important as we start with the <code>AppComponent</code>. It is a normal Angular Component and on the other hand it is also a special because it servers as our <b>root</b> component in the AppModule in the <code>bootstrap</code> array in the <code>app.module.ts</code> file which tells Angular that it is a special component and that we should bootstrap the entire application with that component being the <code>root</code> component. So, all the other components that we create will not be added to the <code>index.html</code> file and their selectors will not be added here as they will be added to the <code>app.component.html</code> file because it is the <code>root</code> component of the app with respect to the other parts.</p>

<h2>Adding Component</h2>
<p>Say, we want to output some information about a server as we are building a backend for a Server Application, so we can store it in a new folder which is the sub folder of the app folder because generally in an Angular CLI Project, all the <code>app</code> related content will be present within the <code>app</code> folder. Suppose the name of the sub-folder is <b><code>Server</code></b> because it holds the Server Component. <u>It is a good practice to have the Folder Name equal to the Component Name and each component should have it's own folder.</u> </p>
<p>Now, while creating the <code>server</code> component, the syntax which we can use is:</p>
<p><code> COMPONENT_NAME.component.ts</code></p>
<p>The file extension for the component is <code>ts</code> which refers to <b>TypeScript</b> in which we will code the component.</p>

<h2>How to create a component</h2>
<p>A Component is simply a TypeScript class so that Angular is able to instantiate it to create objects based on the blueprint that we will setup.</p>
<p>The naming convention for the TypeScript class is:</p>
<code>COMPONENT_NAMEComponent</code>, where COMPONENT_NAME is the name of the component.
<p>This is a normal class and that is the reason we need to tell Angular that this is a special type of class, a <b>Component</b>. We can do this by adding <b>Decorators</b> which are a special feature which allows us to enhance our classes using elements. Components are always added by using <code>@Component</code> before the class. And, since this is also unknown to the class, we will need to <b>import</b> the file which will inform about these components from the <code>@angular/core</code>. We have used <code>@angular/core</code> because Angular shifts between a lot of packages where it, basically, groups its functionality and <code>core</code> gives us access to some of the core functionalities.</p>

<h2>Accessing the Server Component</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>This is a container for the Server Component</h3>
            <hr>
            <app-server></app-server>
            <h3>End of Container for the Server Component</h3>
        </div>
    </div>
</div>


<h2>Generating App Component using the Angular CLI</h2>
<p>In the CLI, we have the <code>generate</code> command to generate some elements supported by Angular. We can create a component using the <code>generate</code> command with the following syntax:</p>
<p><code>ng generate component NAME_OF_COMPONENT</code> OR <code>ng g c NAME_OF_COMPONENT</code></p>
<p>For example, we want to create a component named <code>servers</code>, then we can generate that as:</p>
<p><code>ng generate component servers</code></p>
<p>After using this command, we can see that there is another folder created named <code>servers</code> as shown in the below image:</p>
<img class="images" src="../../../../../../Images/2. The Basics/20. Creating Components with the CLI & Nesting Components/Image 1.png" alt="IMAGE NOT FOUND" />
<p>We have the content from the Angular CLI's Components as:</p>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>This is a container for the Server Component</h3>
            <hr>
            <!-- <app-servers></app-servers> -->
            <!-- <div app-servers></div> -->
            <div class="app-servers"></div>
            <h3>End of Container for the Server Component</h3>
        </div>
    </div>
</div>

<hr>
<hr>
<hr>
<h3>Assignment Components</h3>
<div class="container">
    <app-warning-alert></app-warning-alert>
    <app-sucess-alert></app-sucess-alert>
</div>

<hr>
<hr>
<hr>
<h3>Data Binding Components</h3>
<div class="container">
    <p>Data Binding could be considered equivalient to Communication between the TypeScript Code, the Business Logic and the HTML Code because we might have some result in the TypeScript Code or we might have finished some calculation which we might want to display to the user but the only thing which the user is able to see is the template.</p>
    <p>So, we need some sort of communicaiton between both pieces to be able to do something together. This is what Data Binding responsible for.</p>
    <p>There are different ways of communication, for example, we want to out the data from our TypeScript Code to the HTML Code in the template, so we can either use <b>String Interpolation</b> or <b>Property Binding</b> for this.</p>
    <p>Now, suppose the user clicks a button on the template, then we might want to trigger something on the TypeScript Code and we can achieve this with the help of <b>Event Binding</b> so that we can bind, for example, some click event to execute some code whenever it occurs.</p>
    <p>There is also an additional Binding to combine the above methods known as Two-Way-Binding where we are able to react to events and output something at the same time.</p>
    <app-dynammic-server></app-dynammic-server>
</div>

<div class="container">
    <app-data-binding-string-interpolation></app-data-binding-string-interpolation>
</div>

<div class="container">
    <app-data-binding-property-binding></app-data-binding-property-binding>
</div>

<div class="container">
    <p>So, basically, if we want to output something in the template (or print some text to it), then we can use String Interpolation whereas if we want to change some property of an HTML Element or a Directive or a Component, then we can use Property Binding. <b>We CANNOT mix String Interpolation and Property Binding as it will break the code.</b></p>
</div>

<div class="container">
    <app-data-binding-event-binding></app-data-binding-event-binding>
</div>

<div class="container">
    <app-data-binding-two-way-binding></app-data-binding-two-way-binding>
</div>

<div class="container">
    <app-data-binding-combining-all-forms-of-data-binding></app-data-binding-combining-all-forms-of-data-binding>
</div>

<div class="container">
    <app-assignment-two-data-binding></app-assignment-two-data-binding>
</div>

<div class="container">
    <div class="container">
        <app-understanding-directives></app-understanding-directives>
    </div>
    
    <div class="container">
        <app-understanding-directives-using-nglf-to-output-data-conditionally></app-understanding-directives-using-nglf-to-output-data-conditionally>
    </div>

    <div class="container">
        <app-understanding-directives-enhancing-ng-if-with-else-condition></app-understanding-directives-enhancing-ng-if-with-else-condition>
    </div>

    <div class="container">
        <app-understanding-directives-styling-elements-dynamically-with-ngstyle></app-understanding-directives-styling-elements-dynamically-with-ngstyle>
    </div>

    <div class="container">
        <app-understanding-css-classes-dynamically-with-ngclass></app-understanding-css-classes-dynamically-with-ngclass>
    </div>
</div>
