<! To use this component, we will need to dive into the app.module.ts file where we will change  about our AppModule to use our own component.>

<! Angular uses Components to build Web Pages and uses Modules to bundle several different pieces, for example, components of the app, into Packages. We can even split our App into multiple Modules. A Module is that bundle of functionality of our App which basically gives Angular the information about which features the Angular App has and the features which it is using.> 
<! Move to app.module.ts file.>